[data-md-color-scheme="slate"] {
    --md-hue: 240;
  }

[data-md-color-scheme="default"] {
    --md-hue: 240;
  }

:root {
    --md-primary-fg-color: #87a7ff;
    --md-primary-bg-color: hsl(0, 0%, 100%);
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-text-link-color: hsla(231, 48%, 48%, 1);
    --md-accent-fg-color: rgb(98, 18, 189);
    --md-accent-bg-color: hsl(224, 22%, 23%);
}

:root > * {
    --md-code-bg-color: hsl(233, 19%, 26%);
    --md-code-fg-color: hsl(0, 0%, 0%);
    --md-footer-bg-color: #87a7ff;
    --md-footer-fg-color: hsla(0, 0%, 100%, 1);
    --md-footer-fg-color--light: hsla(0, 0%, 100%, 0.8);
    --md-footer-fg-color--lighter: hsla(0, 0%, 100%, 0.6);
}

img {
    height: auto;
    width: auto;
    border: 1px solid #9f9f9f;
    transition: transform ease-in-out 0.3s;
}

img[src*="#shadow"] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:active[src*="#zoom"] {
    cursor: zoom-out;
    transform: scale(2.0);
}

img[src*="#zoom"] {
    cursor: zoom-in;
}

img[src*="#center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[src*="#no-border"] {
    border: 0px;
    width: 200px;
}

a.md-logo img {
    border: none;
}
